<%=javascript_tag do %>

$(document).ready(function(){

  $('.toggler_link').hide_toggler();
  $('.show_help_link').hide_toggler();

});
<% end %>
<div class="toggler_parent">
  <%=link_to 'Help', '', class: 'help show_help_link'%>
  <div id="help" class="togger_child hidden">
  PO Status Guide <%=link_to 'Hide', '', class: 'toggler_link'%>
  <li>PENDING = PO has not yet been placed (Hindi pa na-order).</li>
  <li>CONFIRMED = PO has been placed (Na-order na).</li>
  <li>DELIVERED = PO has been delivered (Na-deliver na lahat).</li>
  <li>CANELLED = PO has been cancelled.</li>
  </div>
</div>