<h1>New Purchase Order</h1>

<%= render 'form' %>
<div class="bottom_section padd_bottom">
<%= link_to 'Back', purchase_orders_path, tabindex: -1 %>
</div>


<div class="boxed_section small">
	<h5>Keyboard Shortcuts</h5>
	<li>alt + p = Add Contact Person</li>
	<li>alt + n = Add Contact Numbers</li>
	<li>alt + i = Add Item</li>
</div>
