<h2 class="titleize">System Updates</h2>


<table class="system_updates">
<tr>
  <th>Version</th>
  <th>Date</th>
  <th>Changes</th>
</tr>
<tr class="current">
  <td><%= current_version%></td>
  <td>October 23, 2014</td>
  <td>
    <li>Show version number in header</li>
    <li>Introduce system updates page</li>
    <li>Paginate Supplier Summaries</li>
  </td>
</tr>

</table>
