<li id="purchase_order_contact_<%=purchase_order_contact.id%>">
<%=link_to 'X', purchase_order_contact, remote: true, method: :delete, class: "remove_fields no-print", data: {confirm: "Delete #{purchase_order_contact.name}?"} %>
<%=purchase_order_contact.name%> 
</li>