<% url = EEGM::Application.routes.url_helpers %>

/** For purchase_orders/index.html.erb */
function purchase_orders_index_setup() {
  $(document).ready(function(){

     $('#purchase_order_supplier_name').autocomplete({
      source: $('#purchase_order_supplier_name').data('autocomplete-source'),
      minLength: 2
    });

    $('#po_table').dataTable({
        bJQueryUI: true,
        iDisplayLength: 25,
        aaSorting: [[0,"desc"]]
    });

    $('#po_status').on('change', function(){
        var p = '<%=url.purchase_orders_path%>/status/' + $(this).val();
        Turbolinks.visit(p);
    });

    $('#new_purchase_order').on('submit', function() {
      $('#new_purchase_order_button').attr("disabled","disabled");
      $('#new_purchase_order_button').val("Creating PO...");
      $('#content').append("<div class='overlay'></div>");
      $('#wait_message').toggle();
      $('#wait_message').addClass('modal');
    });

    $('#item_name').auto_complete_item();

  });
}