// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#activity_table {
	width: 800px;

	th,tr,td {
		border: 1px solid #4D6795;
	}

	td {
		font-size: .9em;
		padding: 5px;

	}

	tr.create {
		background: #4FF78D;
	}

	tr.delete {
		background: #E68080;
	}

	tr.update {
		background: #F08244;
	}
}