/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require blueprint/reset
 *= require blueprint/grid.css
 *= require blueprint/typography.css
 *= require blueprint/forms.css
 *= require blueprint/fancy-type
 *= require blueprint/buttons

 *= require jquery.ui.datepicker
 *= require best_in_place
 *= require common
 *= require hide_toggler.overlay
 *= require data_table
 *= require_self
 *= require_tree .
 */
html {
  background: #618FC7;
  height: 100%;
}

html, body {
  min-height: 100%;
}


 #content {
  margin: 1.5em 1.5em auto;
  background: white;

 }

.ui-helper-hidden-accessible { 
  display: none;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }

      &:hover {
    color: #fff;
    background-color: #FFFCB2;
  }

    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}



#user_nav {
  a {
    margin-right: 2em;
  }
}


#help {
  width: 700px;
  font-size: .9em;
  font-style: italic;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
  padding: 15px;
  
  background: #FFFFE9;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.help {
  padding-left: 1em;
  font-size: .80em;
}

.toggler_parent {
  display: inline;
}

#title {
  padding-bottom: 1em;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  width: 10em;
}