table
{
	margin: 1.5em;
	width: 800px;
	//text-align: center;
	border-collapse: collapse;
	border-top: 7px solid #435F8F;
	border-bottom: 7px solid #435F8F;

	//background: #e8edff; 
	//tr:hover { background: #C4CFF6; }
	//.e     { background: #CFD8F8; }
}

th
{
	font-size: .95em;

	font-weight: bold;
	padding: 8px;
	background: #e8edff;
	//border-right: 1px solid #9baff1;
	//border-left: 1px solid #9baff1;
	border: 1px solid #435F8F;
	//color: #039;
	color: white;
	background: #253C64;
}
 td
{
	//padding: 8px;
	
	//border-right: 1px solid white;
	//border-left: 1px solid white;
	//color: #669;
}



.updated, tr.updated:hover {
	background: yellow;
}

