#print {

 background: white;
 font-size: 90%;

 #header {
  border-bottom: 2px solid grey;
  padding-bottom: 1em;
  margin-bottom: 1em;
 }

 th {
    background: none;
    color: black;
 }

  .header_store_contact_details {
    width: 30em;
    float: right;
    text-align: right;
    span {
      display: block; 
    }
  }

  tr.grand_total_row td {
    padding-top: 1em;
  }

  .add_fields, .remove_fields , .purcahse_order_show .po_status_section {
    display: none;
  }


  #purchase_order_show_notes span {
    display: none;
  }

  .no-print {
    display: none;
  }

  .best_in_place {
    cursor: default;
    padding-right: 0;
  }

  .best_in_place:hover {
      padding-right: 0;
      background: white;
      background-color: white;
  }
}

/** Override for bluerintcss print.css*/
#print {
   a, a:link:after, a:visited:after {
    color: black;
   }
  a:link:after, a:visited:after {
    content: "";
  }
}