// Place all the styles related to the PurchaseOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#po_details_header {
  label {
    font-size: 1.25em;
  }

  .PENDING {
  color: #FFAC01;
  }

  .CONFIRMED {
    color: #1786FB;
  }

  .DELIVERED {
    color: #007F09;
  }

  .CANCELLED {
    color: #FF2525;
  }

}


form.new_purchase_order, form.edit_purchase_order {
  width: 700px;
}

.order_date {
  float: right;
}

div.notes {
  margin-top: 1em;
  
  .collapse {
    display: none;
  }
}

#purchase_order_notes {
  display: none;
}

div.section {
  margin-top: 0em;
  padding-top: 1em;
  width: 15em;
  min-height: 7em;

  h1 {
    font-size: 1.1em;
    font-weight: normal;
    display: inline;
  }

  fieldset {
    border: 0px;
    padding: 0em;
    margin: 0em;
  }
}

.purcahse_order_show {
  margin-top: 1em;
}

div.contact_person_section {
  width: 30em;
}

div.contact_details_section {
  
  float:right;
}


.add_fields, .button_link  {
  margin-top: .5em;
  margin-left: .5em;
  padding: .25em;
  padding-left: .75em;
  padding-right: .75em;
  background-color: #F5F5F5 ;
  width: 20em;
  font-size: .7em;
  color: #003300;
  border-radius: .5em;
  border: 1px solid #003300;
  text-decoration: none;

  a:visited {
    color: white;
  }
}

.remove_fields {
  color:  #FF5C33;
  font-weight: bolder;
  display: inline;
  text-decoration: none;
}

div.bottom_section {
  margin-top: .5em;
  float: left;
  clear: both;
}

div.items_section {

  h1 {
    font-size: 1.25em;
  }

  
  padding-bottom: .5em;
  
}

div.actions {
  margin: 1.5em;
  margin-top: 5em;
  
}

.small_number {
  input {
    width: 5em;
  }
}

.med_number input {
  width: 7em;
}



.float_right {
  width: 20em;
  margin-right: 1em;
  float: right;
  text-align: right;
  span {
    display: block; 
  }
}


.indented {
  margin-left: 1em;
}


.sub_section {
  padding-bottom: 1em;
}

.padd_bottom {
  padding-bottom: 1em;
}



.boxed_section {
  border: 1px dotted black;
  border-radius: 1em;
  padding: 1em;
  clear: both;
  max-width: 25em;
}

.pending_deletion {
  background: #E0C2C2;
}

.adding_item_delivery, .adding_purchase_item {
  background: #E6FFE6;
  text-align: center;

}

#add_delivery_link {
  display: none;
}

#purchase_order_show_footer {
  margin-top: 2em;
  width: 97%;
}

#created_by {
  text-align: right;
  vertical-align: bottom;
}

#purchase_order_show_deliveries_section {
  margin-top: 3em;
  margin-bottom: 2em;
  clear: both;
}

#purchase_order_show_notes {
  width: 70%;
}

.print_link {
  float: right;
  margin-top: -2em;
}