.contact_details {
	
	width: 550px;
	margin-bottom: 1em;

	h1 {
		font-weight: bold;
	}
}

#contact_persons {
	width: 60%;
	vertical-align: top;
}

#contact_numbers {
	width: 40%;
	vertical-align: top;
}