// Place all the styles related to the PurchaseOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_purchase_order {
	width: 550px;
}

.order_date {
	float: right;
}

div.notes {
	margin-top: 1em;
	
	.collapse {
		display: none;
	}
}

#purchase_order_notes {
	display: none;
}

div.section {
	margin-top: 0em;
	padding-top: 1em;
	width: 15em;
	min-height: 7em;

	h1 {
		font-size: 1.1em;
		font-weight: normal;
		display: inline;
	}

	fieldset {
		border: 0px;
		padding: 0em;
		margin: 0em;
	}
}

div.contact_person_section {
	
}

div.contact_details_section {
	
	float:right;
}
div.middle_section {
	
	
}

.add_fields {
	margin-top: .5em;
	margin-left: .5em;
	

}

div.bottom_section {
	width: 500px;
	float: left;
}

div.items_section {
	border-top: 2px solid;
	width: 550px;
}

div.actions {
	margin-top: 1em;
}

.add_fields {
	display: inline;
}