// Place all the styles related to the Suppliers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a#supplier_summary_link {

	display: block;
	float: left;

	img {
		margin-top: 16px;
		margin-right: 2px;
	}
}
#suppliers_table {

}

#supplier_summary {


	table#purchase_item_table {
		margin-bottom: 1.5em;
	}

	tr.spacer td {
		padding: 0 !important;
		margin: 0 !important;
		height: 1px !important;
		background: #4266A5;
	}

	.status {
		margin: 0em 0em;
		margin-bottom: .5em;
		font-weight: bold;
		
		

	}
}