th {
	font-weight: bold;
	text-align: left;
	padding-left: .25em;
}

table#items_input_table {

	margin: 0;
	padding: 0;
	border: 1px solid;
	margin-bottom: .5em;
}



#po_table {
	// width: 700px;
	td {
		font-size: .95em;
	}
	.desc {
		font-size: .75em;
		text-align: left;
		
	}
	.name {
		width: 25%;
	}
}


.small_column {
	width: 7em;
}

.smaller_column {
	width: 3em;
	font-size: .9em;
}

.x {
	width: 1em;
}

#po_index_title {
	padding-bottom: 1em;
	display: block;
	font-weight: bold;
	font-size: 1.5em;
	width: 10em;
}
