<%=javascript_tag do %>

$(document).ready(function(){
    $('#activity_table').dataTable( {
          bJQueryUI: true,
        iDisplayLength: 100,
        "sPaginationType": "full_numbers",
    } );
});

<% end %>


<h2 id="po_index_title" class="titleize">User Activities</h2>

<%= will_paginate @activities %>

<table id="activity_table" class="big_table">
  	 <thead>
  	  <tr>
  	  	<th>Date/Time</th>
  		<th>User</th>
  		<th>Action</th>
  		<th>Details</th>
  	  </tr>
  	 </thead>
	<tbody>
		<% @activities.each do |activity| %>
      <% cache(activity) do %>
			<%=render activity%>
      <% end %>
		<% end %>
	</tbody>

</table>

<%= will_paginate @activities %>
