

<div id="supplier_summary">

<h1 class="title emphasize med_text indented">Supplier Summary</h1>

<h2><%= @supplier.name %></h2>
<% cache(@supplier.pending_po_cache_key) do %>
  <%= render partial: "summary", locals: {purchase_orders:@supplier.purchase_orders.pending.includes(:purchase_items), status: 'PENDING'}%>
<% end %>

<% cache(@supplier.confirmed_po_cache_key) do %>
<%= render partial: "summary", locals: {purchase_orders:@supplier.purchase_orders.confirmed.includes(:purchase_items), status: 'CONFIRMED'}%>
<% end %>

<% cache(@supplier.delivered_po_cache_key) do %>
<%= render partial: "summary", locals: {purchase_orders:@supplier.purchase_orders.delivered.includes(:purchase_items), status: 'DELIVERED'}%>
<% end %>

</div>
